<h1>Stupid Coaching</h1>
<p>Ask your coack anything</p>

<form class="form-inline justify-content-center" action="/answer" method="get" id="ask_form">
  <div class="form-group ">
    <input type="text" name="question" placeholder="What is your question ?">
  </div>
  <input class="btn btn-primary" type="submit" value="Ask">
</form>


